.content {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.grid {
  display: grid;
    
  grid-template-columns: auto auto auto;
  gap: 10px;
}

div.grid-item {
  border: 2px solid black;
  width: 200px;
  border-radius: 5%;
}

.grid-item img {
  border-bottom: 2px solid black;
  padding: 10px;
}

.grid-content {
  display: flex;
}

.grid-right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-left {
  width: 70%;
  padding-left: 10px;
}

p {
  font-size: 15px;
}

a.viewitem {
  font-size: 14px;
}

i {
  margin-top: 1px;
}
